// import functions
@import "../node_modules/bootstrap/scss/functions";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;');

.body {
  font-family: 'Montserrat';
}

.cards-wrapper {
  display: flex;
}

.image-profile {
  max-width: 4rem;
  max-height: 4rem;
}

// gradients
.bg-image-test {
  background-color:#99a3ff;
  background-image:
  radial-gradient(at 60% 76%, hsla(141,81%,79%,1) 0px, transparent 50%),
  radial-gradient(at 72% 66%, hsla(302,91%,75%,1) 0px, transparent 50%),
  radial-gradient(at 23% 66%, hsla(184,75%,77%,1) 0px, transparent 50%),
  radial-gradient(at 70% 55%, hsla(110,83%,66%,1) 0px, transparent 50%);
}

.card-bg-1 {
  background-color:#a299ff;
  background-image:
  radial-gradient(at 100% 98%, hsla(347,74%,64%,1) 0px, transparent 50%),
  radial-gradient(at 38% 30%, hsla(203,76%,60%,1) 0px, transparent 50%);
}

// gradient images set as classes
.bg-image{
  background-image: url('../images/gradient-bg.png');
}

.icon-gradient{
  background-image: url('../images/gradient-1.png');
}

.bg-grad-pink {
  background-image: url('../images/gradient-pink.png');
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.bg-grad-rose {
  background-image: url('../images/gradient-rose.png');
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.bg-grad-green {
  background-image: url('../images/gradient-2.png');
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.bg-image-7 {
  background-image: url('../images/gradient-6.png');
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.hover-overlay {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
}

.my-shadow {
  box-shadow: -10px 8px 16px -7px rgba(0,0,0,0.4);
  -webkit-box-shadow: -10px 8px 16px -7px rgba(0,0,0,0.4);
  -moz-box-shadow: -10px 8px 16px -7px rgba(0,0,0,0.4);
}

// themes
// $primary: rgb(118, 151, 0);
// $secondary: rgb(0, 255, 21);
// $light: rgb(0, 0, 0);

// globals
// $enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;
$enable-negative-margins: true;

// spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
) !default;

// variables & mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// custom colours
$custom-colors: (
    "surface-layer": #1E1E1E,
    "star": #EB6E00,
    "customborder": #49454F,
    "darkbg": #121212,
    "testing": red,
    "ticket-icon": #FF6B00,
);

// merge our colours with the theme
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";